<div class="container-fluid mainContent dashboard">
  <h1>Change Password</h1>
  <div class="changePasswordForm col-md-8 col-md-offset-2">
  	<div class="changePasswordContent">
  		<p>Choose a strong password and don't reuse it for other accounts.</p>
  		<p>Changing your password will sign you out of all other devices and you will need to sign back in using you new password.</p>
  		<form class="inputCenterAlign" #dealForm="ngForm">
              <div class="group align-center">      
                  <input class="inputMaterial" type="password" required
                    ngControl="dealStatus"
                  >
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Current Password</label>
              </div>
              <div class="group align-center">      
                  <input class="inputMaterial" type="password" 
                  required
                  ngControl="loanPurpose">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>New Password</label>
              </div>
              <div class="group align-center">      
                  <input class="inputMaterial" type="password" 
                  required
                  ngControl="loanPurpose">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Confirm Password</label>
              </div>
              <div class="changePasswordButton">
                    <button type="submit" class="btn" id="changePasswordButton">Change Password</button>
              </div>
        </form>
  	</div>
  </div>
</div>