<div class="container-fluid mainContent dashboard">
  <h1>Dashboard</h1>
  <div class="row">
     <div class="col-md-6 mydealsPanel">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">My Deals</div>
          <!-- Table -->
          <table class="table">
              <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
            </tr>
          </tbody>
          </table>
        </div>
    </div>  
     <div class="col-md-3 starredPropPanel">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Starred Properties</div>
          <!-- Table -->
          <table class="table">
              <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
            </tr>
          </tbody>
          </table>
        </div>
    </div>
    <div class="col-md-3 lastDealsPanel">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Last Updated Deals</div>
          <!-- Table -->
          <table class="table">
              <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
            </tr>
          </tbody>
          </table>
        </div>
    </div> 

    <div class="col-md-3 upcomingPanel">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Upcoming Fundings</div>
          <!-- Table -->
          <table class="table">
              <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
            </tr>
          </tbody>
          </table>
        </div>
    </div>  
     <div class="col-md-6 newDealsPanel">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">New Deals</div>
          <!-- Table -->
          <table class="table">
              <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
            </tr>
          </tbody>
          </table>
        </div>
    </div>
    <div class="col-md-3 mydealsPanel">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">My Deals</div>
          <!-- Table -->
          <table class="table">
              <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
            </tr>
          </tbody>
          </table>
        </div>
    </div>   
  </div>

</div>