<div class="container-fluid mainContent">
<div class="row">
  <div class="contentContainerOffset col-md-12">
    <h2>Deals</h2>
    <table class="table table-condensed table-hover table-striped">
    <thead>
      <tr>
        <th>Deal Id</th>
        <th>Deal Name</th>
        <th>Date</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Deal 1</td>
        <td>04/18/2016</td>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Deal 2</td>
        <td>04/18/2016</td>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Deal 3</td>
        <td>04/18/2016</td>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Deal 3</td>
        <td>04/18/2016</td>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Deal 3</td>
        <td>04/18/2016</td>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Deal 3</td>
        <td>04/18/2016</td>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Deal 3</td>
        <td>04/18/2016</td>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Deal 3</td>
        <td>04/18/2016</td>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
  <!-- <nav class="navbar actionNav">
      <ul class="nav nav-pills navbar-right">
        <li role="presentation"><a href="#">Save</a></li>
        <li role="presentation"><a href="#">Discard</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Calc<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">w/o saving</a></li>
            <li><a href="#">View Calc Log</a></li>
          </ul>
        </li>
        <li role="presentation"><a href="#">Upload Calc</a></li>
        <li role="presentation"><a href="#">Rules</a></li>
        <li role="presentation"><a href="#">Audit Log</a></li>
        <li role="presentation"><a href="#">Attachments</a></li>
        <li role="presentation"><a href="#">Export</a></li>
        <li role="presentation"><a href="#">Comments</a></li>
      </ul>
    </nav> 
        -->

     
   <!--  <div class="col-md-offset-1">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Main</a></li>
        <li role="presentation"><a href="#">PayRules</a></li>
        <li role="presentation"><a href="#">Misc</a></li>
      </ul>

      <div class="testBox">
        <div class="panel panel-default"> -->
          <!-- Default panel contents -->
          <!-- <div class="panel-heading">Main Table</div> -->
          <!-- Table -->
          <!-- <table class="table">
              <thead>
            <tr>
              <th>Type</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Employee</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Funded</td>
              <td>$1,000,000</td>
              <td>12/30/2015</td>
              <td>Broker</td>
              <td>John Doe</td>
            </tr>
            <tr>
              <td>Acquisition</td>
              <td>$2,000,000</td>
              <td>10/8/2015</td>
              <td>CMBS Gurus</td>
              <td>David Doe</td>
            </tr>
            <tr>
              <td>Structured Finance</td>
              <td>$200,000</td>
              <td>N/A</td>
              <td>John Doe</td>
              <td>N/A</td>
            </tr>
            <tr>
              <td>Construction</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
            </tr>
          </tbody>
          </table>
        </div>
    </div>  

    <div class="testBox">
        <div class="panel panel-default"> -->
          <!-- Default panel contents -->
          <!-- <div class="panel-heading">Notes</div> -->
          <!-- Table -->
         <!--  <table class="table">
              <thead>
            <tr>
              <th>Note ID</th>
              <th>Name</th>
              <th>Rate</th>
              <th>Term</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Funded</td>
              <td>$1,000,000</td>
              <td>12/30/2015</td>
              <td>Broker</td>
            </tr>
            <tr>
              <td>Acquisition</td>
              <td>$2,000,000</td>
              <td>10/8/2015</td>
              <td>CMBS Gurus</td>
            </tr>
            <tr>
              <td>Structured Finance</td>
              <td>$200,000</td>
              <td>N/A</td>
              <td>John Doe</td>
            </tr>
            <tr>
              <td>Construction</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
            </tr>
          </tbody>
          </table>
        </div>
    </div>  

    </div> -->


</div>


