<div class="container-fluid mainContent">
<div class="row">
  <div class="contentContainerOffset col-md-12">
    <h3>Deals</h3>
    <table class="table table-condensed table-hover table-striped">
    <thead>
      <tr>
        <th>Deal Id</th>
        <th>Deal Name</th>
        <th>Date</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Deal 1</td>
        <td>04/18/2016</td>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Deal 2</td>
        <td>04/18/2016</td>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Deal 3</td>
        <td>04/18/2016</td>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Deal 3</td>
        <td>04/18/2016</td>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Deal 3</td>
        <td>04/18/2016</td>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Deal 3</td>
        <td>04/18/2016</td>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Deal 3</td>
        <td>04/18/2016</td>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Deal 3</td>
        <td>04/18/2016</td>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<!-- !!!!! WIJMO GRID !!!!! -->

<wj-flex-grid 
  class="grid" 
  items-source="ctx.data"
  is-read-only="true">
    <wj-flex-grid-column header="ID" width="80"></wj-flex-grid-column>
    <wj-flex-grid-column header="Date"></wj-flex-grid-column>
    <wj-flex-grid-column header="Revenue" format="n0"></wj-flex-grid-column>
    <wj-flex-grid-column header="Expense" format="n0"></wj-flex-grid-column>
    <wj-flex-grid-column header="Discount" format="p0" 
        ng-style="{true:{color:'red'}, false:{color:'green'}}[$item.discount > 0.12]">
    </wj-flex-grid-column>
</wj-flex-grid>



</div>


